doctype html
html
  head
    title=title
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="/icons/css/materialdesignicons.min.css")
    link(href="https://fonts.googleapis.com/css?family=Athiti:400,600" rel="stylesheet")
    script(src='/javascript/bootstrap.min.js')
  body
    nav.navbar.bg-dark.navbar-dark.fixed-top
        a.navbar-brand(href="/") <i class="mdi mdi-medal"></i> Asian Games 2018 
    block content